<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <main>
        <h1>Calculator</h1>
        <body>
            <div class="calculator-container" style="background-image: url('static/calculator.JPEG');
                background-size: cover;
                background-position: center;
                margin-left: 20px;
                width: 500px;
                height: 712px;">
                {% block content %}
        
                {% endblock content %}
            </div>
        </body>
    </main>
</body>
</html>